.btn-main {
  background-color: #F1932C;
  border-radius: 5px;
  padding: 9px 14px;
  color: white;
  text-align: center;
  transition: opacity 0.3s ease; }
  .btn-main:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease; }

.btn-ghost {
  background-color: white;
  border-radius: 5px;
  padding: 9px 14px;
  color: #F1932C;
  text-align: center;
  transition: opacity 0.3s ease;
  border: 0.1px solid #F1932C; }
  .btn-ghost:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease; }
