.nav-logo {
  width: 100%; }
  .nav-logo img {
    display: block;
    margin: 0 auto;
    height: 130px; }

.nav-collapsed {
  width: 100%; }

.nav-dropdown-btn {
  transition: opacity 0.3s ease; }
  .nav-dropdown-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease; }

.nav-dropdown-menu ul {
  list-style: none;
  padding: 0; }

.nav-dropdown-menu li {
  padding: 10px 0px 10px 50px;
  border: 2px solid black; }

.nav {
  display: none !important; }
  .nav li {
    display: inline; }
