.color-main {
  color: #96C11F !important; }

.color-sec {
  color: #F1932C !important; }

.color-grey {
  color: #6a6765 !important; }

.fbold {
  font-weight: bold !important; }

.fitalic {
  font-style: italic; }

.inline {
  display: inline !important; }
