@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Oxygen:400,700|Source+Sans+Pro:400,700&display=swap");
h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif; }

.nav-link {
  font-family: 'Oxygen', sans-serif; }

p, a {
  font-family: 'Maven Pro', sans-serif; }

html {
  padding: 0px;
  margin: 0px; }

body {
  background-image: url("../../images/background.png");
  margin: 0;
  padding: 0; }

.container-main {
  background-color: white;
  margin: 51px auto auto 0;
  padding: 40px; }

h3 {
  font-weight: bold; }

p {
  font-size: 1.2rem;
  color: #6a6765; }

/* Handling 'a' tag*/
a {
  color: inherit !important;
  text-decoration: none !important; }

a:hover {
  cursor: pointer !important;
  color: inherit !important; }

@media (min-width: 100px) and (max-width: 575px) {
  h1 {
    font-size: 1.953em !important; }
  h2 {
    font-size: 1.563em !important; }
  h3 {
    font-size: 1.563em !important; } }

@media (min-width: 576px) {
  h1 {
    font-size: 1.953em !important; }
  h2 {
    font-size: 1.563em !important; }
  h3 {
    font-size: 1.563em !important; } }

@media (min-width: 768px) {
  h1 {
    font-size: 1.953em !important; }
  h2 {
    font-size: 1.563em !important; }
  h3 {
    font-size: 1.563em !important; } }

@media (min-width: 992px) {
  h1 {
    font-size: 1.953em !important; }
  h2 {
    font-size: 1.563em !important; }
  h3 {
    font-size: 1.563em !important; } }

@media (min-width: 1200px) {
  h1 {
    font-size: 3.815em !important; }
  h2 {
    font-size: 2.441em !important; }
  h3 {
    font-size: 1.953em !important; } }

.color-main {
  color: #96C11F !important; }

.color-sec {
  color: #F1932C !important; }

.color-grey {
  color: #6a6765 !important; }

.fbold {
  font-weight: bold !important; }

#current {
  transition: border 3px solid #F1932C; }

.navigation {
  margin: 0 0 20px 0;
  padding: 0; }

.nav-logo {
  width: 100%; }
  .nav-logo img {
    display: block;
    margin: 0 auto;
    height: 130px; }

.nav-underline {
  border-bottom: 3px solid #e6e6e6;
  transition: border 0.3s ease; }
  .nav-underline:hover {
    cursor: pointer;
    border-bottom: 3px solid #F1932C;
    transition: border 0.3s ease; }

.nav-collapsed {
  width: 100%; }

#nav-dropdown-btn {
  transition: opacity 0.3s ease; }
  #nav-dropdown-btn:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease; }

.nav-dropdown-menu ul {
  list-style: none;
  padding: 0; }

.nav-dropdown-menu li {
  padding: 10px 0px 10px 50px;
  border-bottom: 3px solid #e6e6e6;
  transition: border 0.3s ease; }
  .nav-dropdown-menu li:hover {
    cursor: pointer;
    border-bottom: 3px solid #F1932C;
    transition: border 0.3s ease; }

.nav {
  display: none !important;
  margin: 0 auto; }
  .nav ul {
    padding: 0;
    text-align: center; }
  .nav li {
    display: inline;
    margin: 0 2px;
    padding: 0 20px 10px 20px; }

@media (min-width: 992px) {
  .nav-collapsed {
    display: none; }
  .nav {
    display: block !important; } }

@media (min-width: 1200px) {
  .nav-collapsed {
    display: none; }
  .nav {
    display: block !important; } }

.btn-main {
  background-color: #F1932C;
  border-radius: 5px;
  padding: 9px 14px;
  color: white;
  text-align: center; }

.carousel-inner {
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0pt 1px 4px; }

.carousel-item {
  position: relative; }

.carousel-indicators {
  margin: 0 !important;
  position: absolute !important;
  bottom: -30px !important; }
  .carousel-indicators li {
    background-color: #6a6765 !important; }
    .carousel-indicators li.active {
      background-color: #F1932C !important; }

.carousel-caption {
  width: 100% !important;
  bottom: -10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  left: 0 !important;
  right: 0 !important; }
  .carousel-caption h3, .carousel-caption h5 {
    display: inline-block !important; }

.light-white-bg {
  background-color: rgba(250, 250, 250, 0.8) !important; }

.footer-stripe-green {
  background-image: url("/assets/images/bg_green_stripes_bottom.png");
  color: white;
  padding: 10px 0;
  background-position: center;
  background-size: contain;
  margin-top: 40px;
  text-align: center; }
