Options +FollowSymLinks -MultiViews
RewriteEngine on

# if requested hostname is non-blank
RewriteCond %{HTTP_HOST} .

# and if requested hostname is NOT "www.example.de"
RewriteCond %{HTTP_HOST} !^www\.efairsorger\.de

# redirect to same object in correct domain
RewriteRule (.*) https://www.efairsorger.de/$1 [R=301,L]

RewriteCond %{SERVER_PORT} !=443 [NC,OR]