@import '../config/colors';

.btn-main {
  background-color: $color-sec;
  border-radius: 5px;
  padding: 9px 14px;
  color: white;
  text-align: center;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
}

.btn-ghost {
  background-color: white;
  border-radius: 5px;
  padding: 9px 14px;
  color: $color-sec;
  text-align: center;
  transition: opacity 0.3s ease;
  border: 0.1px solid $color-sec;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
}
