.sparen {
  text-align: center;
  max-width: 575px;
  display: inline-block;
  margin: 40px 0;

  img {
    width: 100%;
  }

  p {
    width: 100%;
    white-space: nowrap;
  }
}

// --- Responsiveness --- */

// Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .sparen p {
    font-size: 0.68em;
  }
}

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .sparen p {
    font-size: 0.95em;
  }
}

// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .sparen p {
    font-size: 1.25em;
  }
}

// Large devices (horizontal teblets & desktops, 992px and up)*/
@media (min-width: 992px) {
  .sparen p {
    font-size: 1.25em;
  }
}

// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .sparen p {
    font-size: 1.25em;
  }
}
